# Django
*.pyc
*.pyo
__pycache__/
*.sqlite3
*.pyc
*.pyo
*.pyd
*.pyc
*.swp
staticfiles/
/staticfiles/

# React
/node_modules
/build
.DS_Store
.env
.env.development
.env.production

# Common
/.vscode
/.idea
/.vs
/*.log
/*.pot
/*.potx
/*.psess
/.venv
/.vscode
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/.idea/
/.vscode/
*.env
