.main-content {
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-bar {

}

.profile-icon {
    text-align: end;
}

.cards-section {
    text-align: center;
}