.dashboard-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-content {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.dashboard-container::-webkit-scrollbar {
  display: none;
}

.class-event-toggle {
  width: 100%;
}

.previous-future-toggle-buttons {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.toggle-active {
  border-color: rgb(255, 255, 255);
}

.cards-section {
  text-align: center;
  margin-top: 2rem;
}

.toggle-button {
  width: 15%;
  justify-self: center;
}
