.navigation {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    height: 100px; /* Set the desired height */
}

.navigation ul {
    list-style-type: none;
}

.navigation li {
    float: left;
    height: 50px;
}

.nav-element {
    padding: 10px;
    margin-left: 10px;
}

a {
    color: #cfcfcf;
}

