.nav-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: flex-start; /* Center horizontally */
  min-width: 10rem;
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
}

.navigation-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding-inline-start: 0;
}

.navigation ul {
  list-style-type: none;
}

.nav-element {
  width: 100%;
  border-radius: 0px;
  height: 7rem;
  border: 2px solid transparent; /* Added default border style */
}

.nav-element:hover {
  border-color: blueviolet;
}

.navigation button {
  background-color: #141312;
}
