/* schedule_class_modal.css */

/* Overlay */
.schedule-class-overlay {
    position: fixed;
    top: 200;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    z-index: 1000; /* Ensure modal is on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal */
.schedule-class-modal {
    text-align: center;
    margin-top: 1rem;
}

/* Form */
.schedule-class-form {
    display: flex;
    flex-direction: column;
}

/* Close button */
.close-modal {
    cursor: pointer;
    top: 0;
    right: 0;
}

.schedule-class-modal-inactive {
    height: 5rem;
}

.form-label {
    padding: 0.5rem 2rem;
}

.form-input {
    padding: 0.2rem;
    text-align: center;
}