/* schedule_class_modal.css */
.schedule-class-bar-container {
    margin-top: 1rem;
    background: linear-gradient(155deg, rgba(196, 196, 196, 0.8248794510385756) 0%, rgba(255, 255, 255, 1) 100%);
    padding: 0.5rem;
    border-radius: 5px;
}
/* Form */
.schedule-class-bar-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}


.form-label {
    padding: 0.5rem 2rem;
}


.schedule-class-button {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}
