.statistics-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  background-color: #000000;
  padding: 1rem;
  color: white;
}

.statistics-class-count,
.statistics-class-duration,
.statistics-student-count {
  display: flex;
  /* Align icon and text horizontally */
  align-items: center;
  /* Center icon and text vertically */
}

.statistics-class-count .MuiTypography-root,
.statistics-class-duration .MuiTypography-root,
.statistics-student-count .MuiTypography-root {
  margin-left: 0.5rem;
  /* Add space between the icon and the text */
}
